/ Intro Section
%section#header.header-section
  .container
    .row
      .col-lg-12
        %h1.header-title Addiscent
        %h3.header-title INTERNET&nbsp &nbspTECHNOLOGY &nbsp&nbspSERVICES

// Services section
%section#services.services-section
  .container
    .row
      .col-lg-12
        %h1 Addiscent Services
        %h5 DALORWEB IS NOW ADDISCENT
        %p.aligncenter Addiscent is the computer industry working home of Rex Addiscentis.

// Tools section
%section#tools.tools-section
  .container
    .row
      .col-lg-12
        %h1 Addiscent Tools
        %p.aligncenter Addiscent has a small collection of older Open Source tools, described below.
        %br/
        %br/
        %h2 Php-Server-Mon-Sys
        %p
          %strong Php-Server-Mon-Sys
          is a turnkey server monitor system, which installs an application named
          = succeed "." do
            %a{:href => "http://www.phpservermonitor.org/"} PHP Server Monitor v3.1.1
          , a basic yet very useful Open Source server monitor.  Php-Server-Mon-Sys installs not only PHP Server Monitor, but also the services it needs for operation; NGINX, MySQL, and PHP-FPM.  Because Php-Server-Mon-Sys uses Docker containers for deployment,  PHP-Server-Mon and its supporting services can be quickly and easily installed, managed, and uninstalled.
        %p
          For more information, read all about it on the
          = succeed "." do
            %a{:href => "https://github.com/addiscent/php-server-mon-sys"} Php-Server-Mon-Sys GitHub Repository
        %p
          Php-Server-Mon-Sys is Open Source,
          = succeed "." do
            %a{:href => "http://www.apache.org/licenses/"} Apache v2.0 license
        %br/
        %div.ss-box
          %p.aligncenter
            %h4
              View, download, or fork the "php-server-mon-sys" project on GitHub at:
              %br/
              %a{:href => "https://github.com/addiscent/php-server-mon-sys"} github.com/addiscent/php-server-mon-sys
          %p.aligncenter
            %big Screenshot
            %p.aligncenter
              %a{:href => "https://github.com/addiscent/php-server-mon-sys"}
                %img.ss{:alt => "php-server-mon-sys screen shot", :src => "../assets/php-server-mon-sys-cap.png"}
            %br/
        %br/
        %br/
        %br/
        %br/
        %br/
        %br/
        %br/
        %h2 Vagrant-Ruby-Rails
        %p
          %strong Vagrant-Ruby-Rails
          is a tool for Ruby On Rails developers. It is a Vagrant Box,
          = succeed "" do
            %a{:href => "https://www.vagrantup.com"} https://www.vagrantup.com
        %p Because it can be quickly built or rebuilt if necessary, Vagrant-Ruby-Rails may be handy for transient work environments, such as tutorials, or experimental work which may sacrifice the development environment.
        %p It also allows easy reproduction and distribution of exact duplicates of a development environment shared among multiple project members.
        %p
          For more information, read all about it on the
          = succeed "." do
            %a{:href => "https://github.com/addiscent/vagrant-ruby-rails"} Vagrant-Ruby-Rails GitHub Repository
        %p
          Vagrant-Ruby-Rails is Open Source,
          = succeed "." do
            %a{:href => "http://www.apache.org/licenses/"} Apache v2.0 license
        %br/
        %div.ss-box
          %p.aligncenter
            %h4
              View, download, or fork the "vagrant-ruby-rails" project on GitHub at:
              %br/
              %a{:href => "https://github.com/addiscent/vagrant-ruby-rails"} github.com/addiscent/vagrant-ruby-rails
          %p.aligncenter
            %big Screenshot
            %p.aligncenter
              %a{:href => "https://github.com/addiscent/vagrant-ruby-rails"}
                %img.ss{:alt => "vagrant-ruby-rails screen shot", :src => "../assets/vagrant-ruby-rails-screencap.png"}
            %br/
        %br/
        %br/
        %br/
        %br/
        %br/
        %br/
        %br/
        %h2 Vagrant-Docker-AWS
        %p
          %strong Vagrant-Docker-AWS
          is a Vagrant VirtualBox.  It is useful for quick testing of miscellaneous Docker-related experiments, or software evaluation, and supports the deployment of Docker containers from this VBox to AWS, (via the AWS CLI).
        %p
          This Vagrant VBox is easy to install, (assuming you already have Vagrant and VirtualBox installed on your local host). Because it is a Vagrant VBox, it is easy to remove the local instance after you no longer need it; simply use the vagrant destroy command, and the trash has been taken out.
          I use this Vagrant box for testing my GitHub project "php-server-mon-sys", and as an easily discardable host for the demo walk-through script in my GitHub project "presentation-intro-to-devops-for-web-developers".
        %p
          It is Open Source, GPL v2.0 license. For more information, read all about it on the
          %a{:href => "https://github.com/addiscent/vagrant-docker-aws"} Vagrant-Docker-AWS GitHub Repository.
        %p
          %a{:href => "https://github.com/addiscent/vagrant-docker-aws"} Download it from GitHub
          and use it as is or modify it to suit your purposes.
        %br/
        %div.ss-box
          %p.aligncenter
            %h4
              View, download, or fork the "Vagrant-Docker-AWS" source code on GitHub at:
              %br/
              %a{:href => "https://github.com/addiscent/vagrant-docker-aws"} github.com/addiscent/vagrant-docker-aws
          %p.aligncenter
            %big Screenshot
            %p.aligncenter
              %a{:href => "https://github.com/addiscent/vagrant-docker-aws"}
                %img.ss{:alt => "Vagrant-Docker-AWS screen shot", :src => "../assets/vagrant-docker-aws-screenshot.png"}
            %br/
        %br/
        %br/
        %br/
        %br/
        %br/
        %br/
        %br/
        %h2 IP Log To SQL Database
        %p
          %strong IP Log To SQL Database
          is a command line tool, written in PHP, intended for use by a web site host administrator.  It reads an IP log file, (HTTP Access Log), parses fields from each line, and inserts one row of fields for each line into an SQL database table.
        %p
          It is Open Source, GPL v2.0 license.
        %p
          %a{:href => "https://github.com/addiscent/iplog-to-sql-table"} Download it from GitHub
          and use it as is or modify it to suit your purposes.
        %p  
        %div.ss-box
          %p.aligncenter
            %h4
              View, download, or fork the "IP Log To SQL" PHP source code on GitHub at:
              %br/
              %a{:href => "https://github.com/addiscent/iplog-to-sql-table"} github.com/addiscent/iplog-to-sql-table
          %p.aligncenter
            %big Screenshot
            %p.aligncenter
              %img.ss{:alt => "ipl-to-db usage screen-shot", :src => "../assets/ipl-to-db-usage-screen-shot.png"}
            %br/

/ Websites Section
%section#websites.websites-section
  .container
    .row
      .col-lg-12
        %br/
        %h1 Addiscent Web Sites
        %p.aligncenter Peruse some of the web sites Addiscent has developed.
        %br/
        %br/
        %h3.aligncenter
          %strong
            Young Raw Talent –  youngrawtalent.com (defunct)
        %br/
        %p.aligncenter
          %img.ss{:alt => "YRT screen shot", :src => "../assets/YRT-screen-shot.png"}
        %br/
        %br/
        %br/
        %br/
        %h3.aligncenter
          %strong
            Dominic SlimJim Walker – dom.youngrawtalent.com (defunct)
        %br/
        %p.aligncenter
          %img.ss{:alt => "DSW screen shot", :src => "../assets/DSW-screen-shot.png"}
        %br/
        %br/
        %br/
        %br/
        %h3.aligncenter
          %strong
            Stop Trying To Help –
            %a{:href => "http://stoptryingtohelp.com"} stoptryingtohelp.com
        %br/
        %p.aligncenter
          %a{:href => "http://stoptryingtohelp.com"}
            %img.ss{:alt => "STTH screen shot", :src => "../assets/STTH-screen-shot.png"}
        %br/
        %br/
        %br/
        %br/
        %h3.aligncenter
          %strong
            Yet Another BLAH-BLAHG –
            %a{:href => "http://ckthomaston.com"} http://ckthomaston.com
        %br/
        %p.aligncenter
          %a{:href => "http://ckthomaston.com"}
            %img.ss{:alt => "YABB screen shot", :src => "../assets/YABB-screen-shot.png"}

/ Contact Section
%section#contact.contact-section
  .container
    .row
      .col-lg-12
        %h1 Contact
        %br/
        %br/
        %p{:style => "text-align: center;"}
          Rex Addiscentis
          %a{:href => "mailto:raddiscentis@addiscent.com?Subject=Addiscent%20Website%20Contact"} raddiscentis@addiscent.com
